# Node
node_modules/
dist/
build/

# Frontend caches
.vite/
.next/
out/

# Python
venv/
__pycache__/
*.pyc

# Env files
.env
*.env.local
.env.development*
.env.production*
.env.test*

# Logs
logs/
*.log

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
